<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yanqun.mapper.CardinfoMapper">
  <resultMap id="BaseResultMap" type="org.yanqun.entity.Cardinfo">
    <result column="cardid" jdbcType="DECIMAL" property="cardid" />
    <result column="cardidnfo" jdbcType="VARCHAR" property="cardidnfo" />
  </resultMap>


  <sql id="Base_Column_List">
    cardid, cardidnfo
  </sql>


  <insert id="insert" parameterType="org.yanqun.entity.Cardinfo">
    insert into CARDINFO (cardid, cardidnfo)
    values (#{cardid,jdbcType=DECIMAL}, #{cardidnfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.yanqun.entity.Cardinfo">
    insert into CARDINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cardid != null">
        cardid,
      </if>
      <if test="cardidnfo != null">
        cardidnfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cardid != null">
        #{cardid,jdbcType=DECIMAL},
      </if>
      <if test="cardidnfo != null">
        #{cardidnfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>



</mapper>