<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yanqun.mapper.StudentclassMapper">
  <resultMap id="BaseResultMap" type="org.yanqun.entity.Studentclass">
    <id column="classid" jdbcType="DECIMAL" property="classid" />
    <result column="classname" jdbcType="VARCHAR" property="classname" />
  </resultMap>


  <sql id="Base_Column_List">
    classid, classname
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from STUDENTCLASS
    where classid = #{classid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from STUDENTCLASS
    where classid = #{classid,jdbcType=DECIMAL}
  </delete>

  <insert id="insert" parameterType="org.yanqun.entity.Studentclass">
    insert into STUDENTCLASS (classid, classname)
    values (#{classid,jdbcType=DECIMAL}, #{classname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.yanqun.entity.Studentclass">
    insert into STUDENTCLASS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classid != null">
        classid,
      </if>
      <if test="classname != null">
        classname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classid != null">
        #{classid,jdbcType=DECIMAL},
      </if>
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="org.yanqun.entity.Studentclass">
    update STUDENTCLASS
    <set>
      <if test="classname != null">
        classname = #{classname,jdbcType=VARCHAR},
      </if>
    </set>
    where classid = #{classid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yanqun.entity.Studentclass">
    update STUDENTCLASS
    set classname = #{classname,jdbcType=VARCHAR}
    where classid = #{classid,jdbcType=DECIMAL}
  </update>
</mapper>